
<div class="realisation">
    <div class="realisation-list">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut nunc porta, aliquam libero quis, pellentesque nisl. Nulla luctus sodales purus, vitae pharetra nulla vestibulum nec. Aliquam porttitor ex eu maximus tincidunt. Etiam diam libero, imperdiet id purus eu, tincidunt sagittis ipsum. Etiam et dui erat. In posuere malesuada risus sit amet laoreet. Nunc tempor nisi et velit cursus pulvinar. Etiam magna orci, imperdiet et ante in, tincidunt accumsan sem. Etiam enim lectus, malesuada vel urna eu, auctor viverra erat. Curabitur gravida nunc id mi cursus, vel luctus odio egestas. Fusce erat massa, accumsan sed lectus et, lacinia feugiat nibh. Praesent quis ligula a est fringilla aliquet ac ac ex. Mauris nec elementum justo. Sed viverra libero vitae scelerisque commodo. Phasellus lobortis ipsum vitae eros venenatis molestie. Aliquam congue ligula ac nunc posuere pulvinar.</p>
        </div>
        <div class="formation">
            <h3>Les réalisations</h3>
            <img src="/img/livre1.jpg" class="d-block w-100" alt="...">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="formation">
            <h3>Les réalisations</h3>
            <img src="/img/livre2.jpg" class="d-block w-100" alt="...">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="formation">
            <h3>Les réalisations</h3>
            <img src="/img/momentdetente.jpg" class="d-block w-100" alt="...">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
    <div class="mb-5">
     <img src="{{asset('img/banniere.jpg')}}" class="d-block w-100" alt="...">
    </div>
</div>
