{% extends 'base.html.twig' %}

{% block title %}Nous contactez!{% endblock %}

{% block body %}

    <h1>FORMULAIRE DE CONTACT</h1>
    <div class="form-signin container">
    {{ form(form)}}
</div>
{% endblock %}
